<div class="page-header" data-parallax="true">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="text-center">
            <div class="card head">
              <div class="card-header">
                <h4 class="card-title">Javier Ariel Yucra Zapata</h4>
                <p class="category">
                  <a href="mailto:yucrazj@gmail.com" class="text-dark email"
                    >yucrazj@gmail.com</a
                  >
                </p>
              </div>
            </div>
            <img
              src="/assets/images/perfil.jpg"
              alt="perfil"
              class="img-raised img-fluid perfil rounded"
            />
          </div>
        </div>
      </div>
    </div>
  </div>