<div class="row justify-content-center">
  <div class="col-7">
    <div class="alert alert-danger alert-dismissible fade show alerta">
      <div class="alert-icon">
        <i class="material-icons">error_outline</i>
      </div>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="material-icons">clear</i></span>
      </button>
      <p>Usuario o Password incorrecto</p>
    </div>
  </div>
</div>
