<div class="main main-raised mb-5">
  <div class="container">
    <div class="section text-center">
      <h2 class="title text-dark sub">Desarrollador Web Freelance</h2>
      <div class="row">
        <div class="col-md-4">
          <ul
            class="nav nav-pills nav-pills-success flex-column nav-pills-icons"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#tab1"
                role="tab"
                data-toggle="tab"
              >
                <i class="material-icons">psychology</i>
                Sobre Mi
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab2" role="tab" data-toggle="tab">
                <i class="material-icons">devices</i>
                Habilidades
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab3" role="tab" data-toggle="tab">
                <i class="material-icons">addchart</i>
                Disponibilidad y Tarifa
              </a>
            </li>
          </ul>
        </div>
        <div
          class="col-md-8 text-dark d-flex align-items-center justify-content-center"
        >
          <div class="tab-content mt-3">
            <div class="tab-pane active" id="tab1">
              <div class="card card-nav-tabs text-center">
                <div class="card-header card-header-primary">Sobre Mi</div>
                <div class="card-body">
                  <p class="card-text">
                    Mi nombre es Javier Yucra, tengo 28 años, me dedico a
                    desarrollar aplicaciones web, certificado como desarrollador
                    en android (v.8), cuento con aproximadamente 3 años
                    conociendo y aprendiendo sobre diferentes tecnologias web, ademas soy instructor
                    en el area de diseño y programacion de sitios web en un
                    instituto informatico en Bolivia
                  </p>
                </div>
                <div class="card-footer justify-content-center">
                  <a
                    href="https://github.com/JavierYucraZ"
                    target="_blank"
                    class="text-white btn btn-primary"
                    ><i class="fa fa-github mr-3"></i>Github</a
                  >
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab2">
              <div class="card card-nav-tabs text-center">
                <div class="card-header card-header-warning">Habilidades</div>
                <div class="card-body">
                  <div class="row">
                    <p class="card-text">
                      Cuento con bases muy solidas como desarrollador front-end,
                      ya sea utilizando codigo puro y tambien con la ayuda de
                      distintos frameworks de diseño web 
                      <br />
                      Una de mis metas, es llegar a ser desarrollador full stack para crear aplicaciones mucho mas robustas y completas
                      <br />
                      <b>Lenguajes y frameworks : </b>
                    </p>
                    <div class="col-lg-6">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          Html5 y Css3 - Flexbox
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          Javascript ES6
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          Bootstrap v4.x
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          Materialize Css
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          Bulma IO
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6">
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          Lavarel v5.5
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          Angular v.7+
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          VueJs
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          PHP 7
                        </li>
                        <li class="list-group-item list-group-item-dark">
                          Android v8
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab3">
              <div class="card card-nav-tabs text-center">
                <div class="card-header card-header-danger">Disponibilidad y Tarifa por hora</div>
                <div class="card-body">
                  <p class="card-text">
                    Diariamente, Lunes a Viernes cuento con 5 horas disponibles, distribuidas entre 09:00 a 16:00
                  </p>
                  <p class="card-text">
                    La tarifa estimada por mi tiempo es 20US/hora
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
